.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    height: 100vh;
    gap: 5px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button {
    background-color: var(--primary-color);
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background-color: var(--hover-color);
}
.title {
    color: var(--primary-color);
    margin-bottom: 20px;
}