:root {
  --primary-color: #ee3235;
  --hover-color: #c90505;
  --border: #2a2a2a;
  --secondary-color: #ffffff;
  --font-family: 'Arial, sans-serif';
}


body{
  background-color: black;
}

li { list-style-type: none; }

button {
  background-color: #074e31;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

input {
  width: 200px;
  height: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 15px;
  font-size: 16px;
}